* {
    
    box-sizing: border-box;

}
body {
    background-color: rgba(211, 211, 211, 0.438);
}

header {
    margin: auto;
    position: relative;
    width: 850px;
    
}
main {
    margin: auto;
    width: 850px;
}

#header-box {
    position: relative;
    border: 1px solid lightslategray;
    width: 850px;
    height: 300px;
    margin: auto;
    
    
}
.cover-img {
    width: 850px;
    height: 300px;
}

.nav-box {
    position: relative;
    border: 1px solid darkgray;
    width: 850px;
    height: 70px;
    margin: auto;
    background-color: white;
    top: -170px;
    
}
#profile-box {
    position: relative;
    border: 1px solid black;
    width: 170px;
    height: 170px;
    top: -120px;
    left: 10px;
    z-index: 2;


    
}
img {
    width: 168px;
}
.profile-name .p1 {
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    top: -330px;
    left: 190px;
}
.profile-name .p2 a{
    text-decoration: none;
    color:white;
    position: relative;
    font-size: 20px;
    top: -350px;
    left: 190px;
}

.botton {
    position: relative;
    top: -400px;
    left: 580px;
    
    

}
.botton .b1 {
    font-weight: bolder;
    height: 26px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(145, 153, 224);
   
}
.b1:hover {
    background-color: rgb(145, 153, 224);
  color: white;

}


.home-table th {
   
    border-left: 1px solid lightgray;
    position: relative;
    list-style: none;
    width: 100px;
    height: 27px;
    float: left;
    top: -365px;
    left: 177px;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    

}
.home-table th a {
    text-decoration: none;
}
 
/* end header style */

/*(main)top left contaner */
.main-box {
    position: relative;
    
    width: 850px;
    margin: auto;
    top: -300px;
}
.main-box .leftbox1 {
    position: relative;
    border: 1px solid darkgrey;
    width: 328px;
    height: 200px;
    background-color: white;
    
}

.leftbox1 .empty {
    position: relative;
    border-bottom: 1px solid rgba(119, 136, 153, 0.26);
    height: 25px;
    
    
}
.text1 h3 {
    position: relative;
    top: -15px;
    left: 10px;
}
.text1 p {
    position: relative;
    top: -29px;
    left: 10px;
    color: rgb(112, 112, 212);
   
}
.leftbox1 .website {
    position: relative;
    border-top: 1px solid rgba(119, 136, 153, 0.26);
    height: 35px;
    top: -28px;
}
.website h4 a {
    position: relative;
    top: -15px;
    left: 10px;
    text-decoration: none;

}
/*end top left container */

/*right box container */
.main-box .rightbox1 {
    position: relative;
    border: 1px solid darkgrey;
    width: 512px;
    height: 340px;
    background-color: white;
    float: right;
    top: -200px;
}

.small-profile-pic img {
    position: relative;
    border: 1px solid darkgrey;
    width: 70px;
    top: 15px;
    left: 15px;
    z-index: 1;

}
.right-box-page-name {
    position: relative;
    top: -40px;
    left: 93px;
    font-weight: bold;
    color: darkslateblue;
    

} 
.right-box-page-name a {
    text-decoration: none;
    color: rgb(112, 112, 212);
}
.right-box-head-text {
    position: relative;
    top: -73px;
    left: 198px;
    text-decoration: none;
    

}
.right-box-head-text a {
    text-decoration: none;
    color: rgb(112, 112, 212);
}
.right-box-head-text p {
    color: gray;
}
.box-right-text2 {
    position: relative;
    left: -105px;
    top: -10px;
}
.right-box-middle img {
    width: 500px;
    position: relative;
    top: -100px;
    

}
.right-box-bottom {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 40px;
    background-color:rgba(211, 211, 211, 0.137);
    top: -103px;
}
.right-box-bottom li {
    list-style: none;
    position: relative;
    float: left;
    margin: 7px;
    top: -13px;
    left: -38px;
    color:rgb(112, 112, 212);

}

/*end top right container */

/*secont left container*/

.leftbox2 {
    position: relative;
    border: 1px solid rgba(119, 136, 153, 0.26);
    width: 328px;
    height: 190px;
    top: 15px;
    background-color: white;

}
.leftbox2 .top1 {
    position: relative;
    border: 1px solid rgba(119, 136, 153, 0.26);
    top: -1px;
    height: 45px;
    background-color: rgba(211, 211, 211, 0.247);
    
}
.leftbox2 .bottom-phone {
    position: relative;
    border-top: 1px solid rgba(119, 136, 153, 0.26);
    top: 10px;
    width: 290px;
    left: 17px;
}
.top1 .content {
    position: relative;
    font-weight: bold;
    color: gray ;
    font-size: 14px;
    top: 11px;
    left: 10px;
    font-family: sans-serif;
}
.top1 .arow {
    position: relative;
    float: right;
    font-size: 28px;
    color: gray;
    font-weight: bold;
    top: -11px;
    left: -10px;
}
.text2 .location-icon {
    position: relative;
    font-size: 35px;
    transform: rotate(180deg);
    float: left;
    color: gray;
    left: 20px;
}
.text2 .content p {
    position: relative;
    left: 35px;
    font-family: sans-serif;
    font-weight: bold;
    
}
.content  .p1 {
    color:rgb(75, 72, 72);
    
}
.content .p2 {
    
    color: darkgray;
    
    
}
.bottom-phone .phone-icon {
    color: darkgray;
    font-size:30px ;
}
.bottom-phone .phone-num {
    position: relative;
    left: 54px;
    top: -25px;
    font-family: sans-serif;
    color: rgb(112, 112, 212);
    font-weight: bold;
}


/*end secont left container */