* {
    
    box-sizing: border-box;

}
body {
    background-color: lightgray;
}

.header {
    margin: auto;
    position: relative;
    
    width: 850px;
    
}
#header-box {
    position: relative;
    border: 1px solid lightslategray;
    width: 850px;
    height: 300px;
    margin: auto;
    
    background-color: rgb(102, 102, 204);
}

.nav-box {
    position: relative;
    border: 1px solid darkgray;
    width: 850px;
    height: 70px;
    margin: auto;
    background-color: white;
    top: -170px;
    
}
#profile-box {
    position: relative;
    border: 1px solid black;
    width: 170px;
    height: 170px;
    top: -120px;
    left: 10px;
    z-index: 1;

    
}
img {
    width: 168px;
}
.profile-name .p1 {
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    top: -330px;
    left: 190px;
}
.profile-name .p2 {
    color: white;
    position: relative;
    font-size: 20px;
    top: -350px;
    left: 190px;
}
.botton {
    position: relative;
    top: -400px;
    left: 580px;

}
.botton .b1 {
    font-weight: bolder;
    height: 26px;
}
.home-list li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 27px;
    float: left;
    top: -380px;
    left: 150px;
    z-index: 2;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;

}

.main-box {
    position: relative;
    
    width: 850px;
    margin: auto;
    top: -300px;
}
.main-box .leftbox1 {
    position: relative;
    border: 1px solid darkgrey;
    width: 328px;
    height: 150px;
    background-color: white;
    
}
.main-box .rightbox1 {
    position: relative;
    border: 1px solid darkgrey;
    width: 512px;
    height: 150px;
    background-color: white;
    float: right;
    top: -150px;
}





